@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bootcamp</h1>
    <p>CRUD básico. Más información sobre como <a href="https://docs.microsoft.com/aspnet/core"> construir aplicaciones web con ASP.NET Core</a>.</p>
    <img src="~/resources/CSFacturacion.png">
</div>



<div class="row">
    <div class="col-6 text-center">
        <button type="button" class="btn btn-primary btn-lg" onclick="@("window.location.href='" + @Url.Action("Index", "Usuario") + "'");">Usuarios</button>
    </div>
    <div class="col-6 text-center">
        <button type="button" class="btn btn-primary btn-lg">Empresas</button>
    </div>
</div>
